div {
    width: 300px;
    height: 150px;
    display: flex;
    background-color: aqua;
    align-items:center;
    justify-content: center;
    border: 5px solid black;
    font-size: 15px;
    transition:all 1s ease-in-out
    
    
}


div:hover{
    background-color: red;
    color: aliceblue;
    font-size: 40px;
}
